#### Pandas y Numpy trabajando juntas

In [19]:
import pandas as pd
import numpy as np

In [20]:
#crear un arreglo de Numpy
data = np.array([[1, 2, 3], [4,5,6], [7,8,9]])

#crear un data frame a partir del arreglo de numpy
df = pd.DataFrame(data, columns=["A", "B", "C"])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
data = {
    
    "A" : [1, 4, 7],
    "B" : [2, 5, 8],
    "B" : [3, 6, 9]
}

df = pd.DataFrame(data)
df

   A  B
0  1  3
1  4  6
2  7  9

In [22]:
#convertir un data frame a un array de numpy
arr = df.to_numpy()
arr

array([[1, 3],
       [4, 6],
       [7, 9]])

In [23]:
df.values

array([[1, 3],
       [4, 6],
       [7, 9]])

In [24]:
df

   A  B
0  1  3
1  4  6
2  7  9

In [25]:
#calcualr el promedio de cada columna utilizando Numpy
mean_columns = np.mean(df, axis=0)
print(mean_columns)

A    4.0
B    6.0
dtype: float64

In [26]:
df.mean(axis=0)

A    4.0
B    6.0
dtype: float64

In [27]:
df.mean(axis=1)

0    2.0
1    5.0
2    8.0
dtype: float64